<div id="<%= dom_id tweet %>">
  <% image_url = Faker::LoremFlickr.image(size: "300x300", search_terms: ['nature', 'animal']) %>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title"><%= tweet.username%></h5>
      <p> <%= tweet.description %>  </p>
      <img src="<%= image_url %>" class="card-img-top" alt="...">
    </div>
  </div>
</div>

