<div id="<%= dom_id tweet %>">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= tweet.UserName %></h5>
      <p> <%= tweet.Description %>  </p>
      <img src="..." class="card-img-top" alt="...">
    </div>
  </div>
</div>

